<!DOCTYPE html>
<html lang='en' ng-app>

<head>
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

	<!-- Bootstrap css library for page layout -->
	<link rel='stylesheet' type='text/css' href='../bower_components/bootstrap/dist/css/bootstrap.min.css' />

	<!-- Custom css -->
	<link rel='stylesheet' type='text/css' href='../styles/page.css' />
	<link rel='stylesheet' type='text/css' href='../styles/navbar.css' />
	<link rel='stylesheet' type='text/css' href='../styles/cover.css' />
	<link rel='stylesheet' type='text/css' href='../styles/skills.css' />
	<link rel='stylesheet' type='text/css' href='../styles/portfolio.css' />
	<link rel='stylesheet' type='text/css' href='../styles/contact.css' />
	<link rel='stylesheet' type='text/css' href='../styles/fades.css' />
	
	<!-- jQuery for bootstrap and minor animations -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Javascript for bootstrap -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
	  // Initialize reviews carousel.
	  $(document).ready(function(){
	    $('.carousel').carousel();
	  });
	</script>
</head>

<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style:'opacity:0'>
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="navbar-brand text" style='color:red;letter-spacing:0.1em;position:absolute;'>Built by me!</div>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav" id='main-menu' ng-controller='NavController'>
	        <li ng-click='scrollToSection("#cover-screen")'><a>Home</a></li>
	        <li ng-click='scrollToSection("#overview-screen")'><a>Overview</a></li>
	        <li ng-click='scrollToSection("#skills-screen")'><a>Skills</a></li>
	        <li ng-click='scrollToSection("#education-screen")'><a>Education</a></li>
	        <li ng-click='scrollToSection("#experience-screen")'><a>Experience</a></li>
	        <li ng-click='scrollToSection("#portfolio-screen")'><a>Portfolio</a></li>
	        <li ng-click='scrollToSection("#contact-screen")'><a>Contact</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- Cover -->

	<div class='container-fluid screen-section' id='cover-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center' id='cover-screen-title'>
				<h1 class='cover-text font-white'>ADAM ESTELA</h1>
				<p class='subheader-text font-white'>PROFESSIONAL SOFTWARE ENGINEER</p>
			</header>
		</div>

		<div class='row'>
			<div class='social-icons'>
				<a id='git-icon' class='icon' href='https://github.com/aconfee' target="_blank"></a>
				<a id='linkedin-icon' class='icon' href='http://tinyurl.com/nact72n' target="_blank"></a>
				<a id='youtube-icon' class='icon' href='http://tinyurl.com/khovsg2' target="_blank"></a>
				<a id='facebook-icon' class='icon' href='http://tinyurl.com/mv258dp' target="_blank"></a>
			</div>
		</div>

		<div class='row'>
			<!-- Carousel Reviews -->
			<div id='review-carousel' class='carousel slide text-center'>
				<div class='carousel-inner'>
					<div class='item active'>
						<P class='quote' style='text-align:left'>"Adam has been great to work with. I have worked with him on multiple game projects, side projects in our spare time, and tutored with him. He is unbelievably hard working and motivated in everything he does."<br/><br/><b style='float:right'>-DAVID JAMES / SDE Microsoft</b></P>
					</div>
					<div class='item'>
						<P class='quote' style='text-align:left'>"I've worked with Adam on two student games and couldn't recommend him more. He's a great programmer and always keeps his mind on the big picture. Both projects were delivered in a completed state and were fun to work on."<br/><br/><b style='float:right'>-JORDAN MAPLES / SDET Microsoft</b></p>
					</div>
					<div class='item'>
						<p class='quote' style='text-align:left'>"Adam Estela is both knowledgeable and eager to learn new things, a rare combination for a programmer. I enjoyed working with him and would highly recommend Adam to anyone who asks."<br/><br/><b style='float:right'>-TREVOR HABA / SDE PaperG</b></p>
					</div>
					<div class='item'>
						<P class='quote' style='text-align:left'>"Adam Estela is a friendly, high-performing team member. I'd enjoy working with him again any time."<br/><br/><b style='float:right'>-ANDREW NACK / Technical Designer Signal Studios</b></p>
					</div>
				</div>

				<ol class='carousel-indicators'>
					<li data-target='#review-carousel' data-slide-to='0' class='active'></li>
					<li data-target='#review-carousel' data-slide-to='1'></li>
					<li data-target='#review-carousel' data-slide-to='2'></li>
					<li data-target='#review-carousel' data-slide-to='3'></li>
				</ol>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='overview-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>OVERVIEW</h1>
				<div class='underline'></div>
				<h2>A Brief History</h2>
			</header>
		</div>
		<div class='row section'>
			<div id='gamesOverviewIcon' class='col-xs-1 col-xs-offset-2 fadeInBottom'>
				<img src="../resources/game-icon.jpg" class="img-responsive">
			</div>
			<div id='gamesOverview' class='col-xs-6 col-xs-offset-1 text fadeInRight'>
				<span class='text-header'>GAMES&nbsp;&nbsp;</span><span>My foundation lies in low level programming (C/C++) which I used to build several game engines from the ground up with teams of four developers. On these teams I not only acted as developer, but producer, where I ensured complete milestones and product delivery. I built five complete games during my 3.5 years of matriculation and have written tens of thousands of lines of code.  
				</span>
			</div>
		</div>
		<div class='row section'>
			<div id='testOverviewIcon' class='col-xs-1 col-xs-offset-2 fadeInBottom'>
				<img src="../resources/test-icon.jpg" class="img-responsive">
			</div>
			<div id='testOverview' class='col-xs-6 col-xs-offset-1 text fadeInRight'>
				<span class='text-header'>TEST&nbsp;&nbsp;</span><span>I am one of two automated testers at PaperG, Inc. Initially, my scope of responsibility included building automated UI tests, but I quickly expanded to focus on infrastructure. I've worked on our continuous integration pipeline, set up test frameworks for other devs, written tools for other test automators, and, of course, written tests. I've successfully helped reduce bug turn-around time and false negatives.</span>
			</div>
		</div>
		<div class='row section'>
			<div id='webOverviewIcon' class='col-xs-1 col-xs-offset-2 fadeInBottom'>
				<img src="../resources/web-icon.jpg" class="img-responsive">
			</div>
			<div id='webOverview' class='col-xs-6 col-xs-offset-1 text fadeInRight'>
				<span class='text-header'>WEB&nbsp;&nbsp;</span><span>While testing at PaperG, I fell in love with more web development oriented tasks. I chased this passion by tirelessly working on solo end-end web applications while receiving professional code reviews. <!--I have now started contributing to front end development on a professional level.--></span>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='skills-screen' ng-controller='SkillsController'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>SKILLS</h1>
				<div class='underline'></div>
				<h2>Languages and Tools</h2>
			</header>
		</div>
		<div class='row section'>
			<div class='col-xs-3 col-xs-offset-2'>
				<span class='text-header'>LANGUAGES</span>
				<div class="progress" ng-class="{'progress-selected': $index == selectedLanguage}" ng-repeat='language in languages' ng-click='displayLanguageDescription(language.name); insetLanguageBar($index); hideTip();'>
				  <div class="progress-bar progress-bar-success" ng-class="{'progress-selected': $index == selectedLanguage, 'progress-bar-striped active': language.inProgress}" role="progressbar" aria-valuenow="{{ language.val }}" aria-valuemin="0" aria-valuemax="100" ng-style="language.percent">
				    <p>{{ language.name }}</p>
				  </div>
				  <img class='bar-info' src='../resources/info-icon-grey.png' ng-show='$index != selectedLanguage'></img>
				</div>
			</div>
			<div class='col-xs-4 col-xs-offset-1 right-align' id='languageDescription'>
				<p class='text-header'>{{ languageDisplay.name }}</p>
				<p class='text'>
					<span class='skill-attribute'>Years Actively Used:</span> <b>{{ languageDisplay.yearsUsed }}</b>
					<br/>
					<span class='skill-attribute'>Major Projects Used:</span> <b>{{ languageDisplay.projects }}</b>
					<br/>
					<p class='left-align attribute-description'>{{ languageDisplay.description }}</p>
				</p>
			</div>
		</div>
		<div class='row section'>
			<div class='col-xs-3 col-xs-offset-2'>
				<p class='text-header'>TOOLS</p>
				<div class="progress" ng-class="{'progress-selected': $index == selectedTool}" ng-repeat='tool in tools' ng-click='displayToolDescription(tool.name); insetToolBar($index); hideTip();'>
				  <div class="progress-bar progress-bar-success" ng-class="{'progress-selected': $index == selectedTool, 'progress-bar-striped active': tool.inProgress}" role="progressbar" aria-valuenow="{{ tool.val }}" aria-valuemin="0" aria-valuemax="100" ng-style="tool.percent">
				    <p>{{ tool.name }}</p>
				  </div>
				  <img class='bar-info' src='../resources/info-icon-grey.png' ng-show='$index != selectedTool'></img>
				</div>
			</div>
			<div class='col-xs-4 col-xs-offset-1 right-align' id='toolDescription'>
				<p class='text-header'>{{ toolDisplay.name }}</p>
				<p class='text'>
					<span class='skill-attribute'>Years Actively Used:</span> <b>{{ toolDisplay.yearsUsed }}</b>
					<br/>
					<span class='skill-attribute'>Major Projects Used:</span> <b>{{ toolDisplay.projects }}</b>
					<br/>
					<p class='left-align attribute-description'>{{ toolDisplay.description }}</p>
				</p>
			</div>
		</div>
		<div class='row section'>
			<div class='col-xs-10 col-xs-offset-2'>
				<p class='text-header'>ADDITIONAL EXPOSURE</p>
			</div>
			<div class='col-xs-8 col-xs-offset-2'>
				<span class="well well-sm" ng-repeat='otherSkill in skillBucket'>{{ otherSkill.name }}</span>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='education-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>EDUCATION</h1>
				<div class='underline'></div>
			</header>
		</div>
		<div class='row section'>
			<div id='education' class='col-xs-2 col-xs-offset-2 fadeInBottom'>
				<a href='https://www.digipen.edu/' target='_blank'><img src="../resources/digi-logo.png" class="img-responsive"></a>
			</div>
			<div id='educationText' class='col-xs-6 text fadeInRight'>
				<span class='text-header'>
					DIGIPEN INSTITUTE OF TECHNOLOGY
				</span><span>Redmond, WA</span>
				<p>B.S. in Computer Science &amp; Minor in Mathematics </p>
				<p><b>Graduated:</b> December 13th, 2013</p>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='experience-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>EXPERIENCE</h1>
				<div class='underline'></div>
			</header>
		</div>
		<div class='section'>
			<div id='paperg' class='col-xs-4 col-xs-offset-2 text fadeInLeft'>
				<span>
					<a class='text-header' href='http://www.paperg.com/' target='_blank'>PaperG</a>
				</span><span>Kirkland, WA</span>
				<p>Software Engineer in Test II / Feb 2013 - Current</p>
				<p>
					I'm expanding and improving our testing and CI platform by:
					<ul>
						<li><p>Making the CI process as transparent and easy for devs as possible</p></li>
						<li><p>Preventing regression with thoughtfully automated core user experiences</p></li>
						<li><p>Improving tests and tools to provide more reliable feedback</p></li>
						<li><p>Experimenting with potential tools and processes for further improvement</p></li>
					</ul>
					I quickly grasped Javascript, Java, HTML, and CSS as well as several tools that allowed me to work more effectively. Within a week I was contributing code, and after 4 months, I was promoted. 
					<br/><br/>
					<div style='width:90%; font-size:0.9em;margin-left:5%;border-top:1px solid grey;'>
						<br/>
						<span><i>"Adam Estela is both knowledgeable and eager to learn new things, a rare combination for a programmer. I enjoyed working with him and would highly recommend Adam to anyone who asks."</i></span>
						<br/>
						<p style='float:right'>-Trevor Haba / SDE PaperG</p>
					</div>
				</p>
			</div>
			<div id='digipen' class='col-xs-4 text fadeInRight'>
				<span>
					<a class='text-header' href='http://www.digipenresearch.com/' target='_blank'>DigiPen Institute of Technology</a>
				</span><span>Redmond, WA</span>
				<p>Teaching Assistant and Tutor / Jan 2012 - Dec 2013</p>
				<p>While working towards my degree, I was a TA for:
					<ul>
						<li><p>Graphics [3D rendering from scratch]</p></li>
						<li><p>Game Implementation Techniques [Building a game engine]</p></li>
						<li><p>English</p></li>
					</ul>
					I also served as the academic support tutor for CS, Mathematics, and English where I patiently assisted students through problems, aided in debugging, explained concepts, and offered encouragement. Near the end of my education, I interned in DigiPen's research and development department.
					<br/><br/>
					<div style='width:90%; font-size:0.9em;margin-left:5%;border-top:1px solid grey;'>
						<br/>
						<span><i>"Adam has been great to work with. I have worked with him on multiple game projects, side projects in our spare time, and tutored with him. He is unbelievably hard working and motivated in everything he does."</i></span>
						<br/>
						<p style='float:right'>-David James / SDE Microsoft</p>
					</div>
				</p>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='portfolio-screen' ng-controller='PortfolioController'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>PORTFOLIO</h1>
				<div class='underline'></div>
				<h2>A taste of what I enjoy doing.</h2>
			</header>
		</div>
		<div class='row'>
			<div class='col-xs-8 col-xs-offset-2 text-center section'>
				<button ng-click='filterPortfolio("*");setActive(0);' data-filter='*' type="button" ng-class='{"active":activeIndex == 0}' class="btn btn-default">All</button>
				<button ng-click='filterPortfolio(".games");setActive(1);' data-filter='.games' type="button" ng-class='{"active":activeIndex == 1}' class="btn btn-default">Games</button>
				<button ng-click='filterPortfolio(".web");setActive(2);' data-filter='.web' type="button" ng-class='{"active":activeIndex == 2}' class="btn btn-default">Web</button>
				<button ng-click='filterPortfolio(".graphics");setActive(3);' data-filter='.graphics' type="button" ng-class='{"active":activeIndex == 3}' class="btn btn-default">Graphics</button>
				<button ng-click='filterPortfolio(".ai");setActive(4);' data-filter='.ai' type="button" ng-class='{"active":activeIndex == 4}' class="btn btn-default">Artificial Intelligence</button>
			</div>
		</div>
		<div class='row text-center'>
			<div class='portfolio-items section'>
				<div class='portfolio-item games ai' ng-mouseenter='showTabs(0)' ng-mouseleave='hideTabs(0)'>
					<div class='portfolio-tabs'>
						<a class='portfolio-tab text' ng-show='hovered == 0' href='http://tinyurl.com/kohelaw' target='_blank'>Download</a>
						<a class='portfolio-tab portfolio-tab-right text' ng-show='hovered == 0' href='http://tinyurl.com/qdxco2t' target='_blank'><img class='info-icon' src='../resources/info-icon-plain.png'</img></a>
					</div>
					<img class='img-responsive' src='http://i.imgur.com/uNk1eNa.png'></img>
				</div>
				<div class='portfolio-item web' ng-mouseenter='showTabs(1)' ng-mouseleave='hideTabs(1)'>
					<div class='portfolio-tabs'>
						<a class='portfolio-tab text' ng-show='hovered == 1' href='http://adamestelaresume.azurewebsites.net/' target='_blank'>Live</a>
						<a class='portfolio-tab text' ng-show='hovered == 1' href='https://github.com/aconfee/AdamEstelaResume' target='_blank'>Git</a>
						<a class='portfolio-tab portfolio-tab-right text' ng-show='hovered == 1' href='http://tinyurl.com/mk5vkhn' target='_blank'><img class='info-icon' src='../resources/info-icon-plain.png'</img></a>
					</div>
					<img class='img-responsive' src='http://i.imgur.com/5G1rniF.png'></img>
				</div>
				<div class='portfolio-item graphics' ng-mouseenter='showTabs(2)' ng-mouseleave='hideTabs(2)'>
					<div class='portfolio-tabs'>
						<a class='portfolio-tab text' ng-show='hovered == 2' href='http://tinyurl.com/khovsg2' target='_blank'>Watch</a>
						<a class='portfolio-tab portfolio-tab-right text' ng-show='hovered == 2' href='http://tinyurl.com/mvlctym' target='_blank'><img class='info-icon' src='../resources/info-icon-plain.png'</img></a>
					</div>
					<img class='img-responsive' src='http://i.imgur.com/BfX5SeU.png'></img>
				</div>
				<div class='portfolio-item games ai' ng-mouseenter='showTabs(3)' ng-mouseleave='hideTabs(3)'>
					<div class='portfolio-tabs'>
						<a class='portfolio-tab text' ng-show='hovered == 3' href='http://tinyurl.com/llxjsqn' target='_blank'>Download</a>
						<a class='portfolio-tab text' ng-show='hovered == 3' href='http://tinyurl.com/lydncv5' target='_blank'>Watch</a>
						<a class='portfolio-tab portfolio-tab-right text' ng-show='hovered == 3' href='http://tinyurl.com/qdxco2t' target='_blank'><img class='info-icon' src='../resources/info-icon-plain.png'</img></a>
					</div>
					<img class='img-responsive' src='http://i.imgur.com/GsmJcCv.png'></img>
				</div>
				<div class='portfolio-item ai' ng-mouseenter='showTabs(4)' ng-mouseleave='hideTabs(4)'>
					<div class='portfolio-tabs'>
						<a class='portfolio-tab text' ng-show='hovered == 4' href='http://tinyurl.com/lrvyps5' target='_blank'>Watch</a>
						<a class='portfolio-tab portfolio-tab-right text' ng-show='hovered == 4' href='http://tinyurl.com/pjnwv35' target='_blank'><img class='info-icon' src='../resources/info-icon-plain.png'</img></a>
					</div>
					<img class='img-responsive' src='http://i.imgur.com/lnWdNdd.png'></img>
				</div>
				<div class='portfolio-item games' ng-mouseenter='showTabs(5)' ng-mouseleave='hideTabs(5)'>
					<div class='portfolio-tabs'>
						<a class='portfolio-tab text' ng-show='hovered == 5' href='http://tinyurl.com/mgu2t7x' target='_blank'>Download</a>
						<a class='portfolio-tab portfolio-tab-right text' ng-show='hovered == 5' href='http://tinyurl.com/qdxco2t' target='_blank'><img class='info-icon' src='../resources/info-icon-plain.png'</img></a>
					</div>
					<img class='img-responsive' src='http://i.imgur.com/miKmrPJ.png'></img>
				</div>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='contact-screen' ng-controller='ContactController'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1 class='inverse'>CONTACT</h1>
				<div class='underline underline-inverse'></div>
				<h2 class='inverse'>Want to know more?</h2>
			</header>
		</div>
		<div class='row'>
			<div class='col-xs-3 col-xs-offset-2 section'>
				<h2 style='color:white'><b>Contact Info</b></h2>
				<p class='text' style='color:white'>(509) 494-4676</p>
				<p class='text' style='color:white'>adamestela@gmail.com</p>
				<div id='message-sent' ng-show='messageSent'>
					<h1 style='color:white;margin-top:100px;'>Message sent!</h1>
					<h2 style='color:white;'>Thank you for visiting! I will respond as soon as possible.</h2>
				</div>
				<div id='message-sent' ng-show='messageError'>
					<h1 style='color:white;margin-top:100px;'>Error</h1>
					<h2 style='color:white;'>Please include your name, valid email, and a message.</h2>
				</div>
			</div>
			<div class='col-xs-4 col-xs-offset-1 section'>
				<form class="form-horizontal" role="form" method='post'>
				<div class="form-group">
				    <label for="contactName" class="col-xs-1 control-label">Name</label>
				    <div class="col-xs-12">
				      <input name='name' type="text" class="form-control" id="contactName" placeholder="Your Name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="contactEmail" class="col-xs-1 control-label">Email</label>
				    <div class="col-xs-12">
				      <input name='email' type="email" class="form-control" id="contactEmail" placeholder="Email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-xs-1 control-label">Message</label>
				    <div class="col-xs-12">
				    	<textarea name='message' class="form-control" rows="8"></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-12">
				      <input id='send-email-button' ng-click='sendEmail();' name='submit' type="submit" class="btn-lg"></input>
				    </div>
				  </div>
				</form>
			</div>
		</div>
		<div class='col-xs-8 col-xs-offset-2 section text-center'>
			<p style='color:white;letter-spacing:0.2em;' class='text'>All content &copy; 2014 Adam Confe Estela, all rights reserved.</p>
		</div>
	</div>
	
	<!-- AngularJS to avoid duplicate HTML templates. All data is local. -->
	<script src="../bower_components/angular/angular.min.js"></script>

	<!-- Isotope (filtering) -->
	<script src="../tools/isotope/isotope.min.js"></script>

	<!-- My js controllers -->
	<script src='../controllers/skills.js'></script>
	<script src='../controllers/portfolio.js'></script>
	<script src='../controllers/nav.js'></script>
	<script src='../controllers/contact.js'></script>
	<script src='../controllers/fades.js'></script>
</body>

<html>

