<!DOCTYPE html>
<html lang='en' ng-app>

<head>
	<title>Adam Estela</title>
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

	<!-- Bootstrap css library for page layout -->
	<link rel='stylesheet' type='text/css' href='../bower_components/bootstrap/dist/css/bootstrap.min.css' />

	<!-- Custom css -->
	<link rel='stylesheet' type='text/css' href='../styles/page.css' />
	<link rel='stylesheet' type='text/css' href='../styles/navbar.css' />
	<link rel='stylesheet' type='text/css' href='../styles/cover.css' />
	<link rel='stylesheet' type='text/css' href='../styles/skills.css' />
	<link rel='stylesheet' type='text/css' href='../styles/portfolio.css' />
	<link rel='stylesheet' type='text/css' href='../styles/contact.css' />
	<link rel='stylesheet' type='text/css' href='../styles/fades.css' />

	<!-- jQuery for bootstrap and minor animations -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Javascript for bootstrap -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
	  // Initialize reviews carousel.
	  $(document).ready(function(){
	    $('.carousel').carousel();
	  });
	</script>

    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 311793781]);
    (function() {
    function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
    })();
    </script>
    <!-- End Inspectlet Embed Code -->

</head>

<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style:'opacity:0'>
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav" id='main-menu' ng-controller='NavController'>
	        <!--li ng-click='scrollToSection("#cover-screen")'><a>Home</a></li-->
	        <li ng-click='scrollToSection("#overview-screen")'><a style="color:rgb(35, 35, 35)">PROFILE</a></li>
			<li ng-click='scrollToSection("#portfolio-screen")'><a style="color:rgb(35, 35, 35)">PROJECTS</a></li>
	        <li ng-click='scrollToSection("#skills-screen")'><a style="color:rgb(35, 35, 35)">SKILLS</a></li>
			<li ng-click='scrollToSection("#experience-screen")'><a style="color:rgb(35, 35, 35)">EXPERIENCE</a></li>
	        <li ng-click='scrollToSection("#education-screen")'><a style="color:rgb(35, 35, 35)">EDUCATION</a></li>
	        <li ng-click='scrollToSection("#contact-screen")'><a style="color:rgb(35, 35, 35)">CONTACT</a></li>
	        <li><a class="active" style="color:rgb(142, 16, 42);border-bottom: 1px solid rgb(142, 16, 42);" href="../docs/Adam_Estela_Resume.docx">DOWNLOAD RESUME</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- Cover -->

	<div class='container-fluid screen-section' id='cover-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center' id='cover-screen-title'>
				<h1 class='cover-text font-white'>ADAM ESTELA</h1>
				<p class='subheader-text font-white'>PROFESSIONAL SOFTWARE ENGINEER</p>
			</header>
		</div>

		<div class='row' style="text-align:center; margin:20px 20px 100px 20px;">
			<!--div class='social-icons'>
				<a id='linkedin-icon' class='icon' href='http://tinyurl.com/nact72n' target="_blank"></a>
				<a id='youtube-icon' class='icon' href='http://tinyurl.com/khovsg2' target="_blank"></a>
				<a id='facebook-icon' class='icon' href='http://tinyurl.com/mv258dp' target="_blank"></a>
			</div-->
			<a id="download-resume-button" href="../docs/Adam_Estela_Resume.docx">DOWNLOAD RESUME</a>
		</div>

		<div class='row'>
			<!-- Carousel Reviews -->
			<div id='review-carousel' class='carousel slide text-center'>
				<div class='carousel-inner'>
					<div class='item active'>
						<P class='quote' style='text-align:left'>"Adam has been great to work with. I have worked with him on multiple game projects, side projects in our spare time, and tutored with him. He is unbelievably hard working and motivated in everything he does."<br/><br/><b style='float:right'>-DAVID JAMES / SDE Microsoft</b></P>
					</div>
					<div class='item'>
						<P class='quote' style='text-align:left'>"I've worked with Adam on two student games and couldn't recommend him more. He's a great programmer and always keeps his mind on the big picture. Both projects were delivered in a completed state and were fun to work on."<br/><br/><b style='float:right'>-JORDAN MAPLES / SDE Microsoft</b></p>
					</div>
					<div class='item'>
						<p class='quote' style='text-align:left'>"Adam Estela is both knowledgeable and eager to learn new things, a rare combination for a programmer. I enjoyed working with him and would highly recommend Adam to anyone who asks."<br/><br/><b style='float:right'>-TREVOR HABA / SDE Amazon</b></p>
					</div>
					<div class='item'>
						<P class='quote' style='text-align:left'>"Adam Estela is a friendly, high-performing team member. I'd enjoy working with him again any time."<br/><br/><b style='float:right'>-ANDREW NACK / Technical Designer Signal Studios</b></p>
					</div>
				</div>

				<ol class='carousel-indicators'>
					<li data-target='#review-carousel' data-slide-to='0' class='active'></li>
					<li data-target='#review-carousel' data-slide-to='1'></li>
					<li data-target='#review-carousel' data-slide-to='2'></li>
					<li data-target='#review-carousel' data-slide-to='3'></li>
				</ol>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='overview-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>PROFILE</h1>
				<div class='underline'></div>
				<h2>A Little Bit About Me</h2>
			</header>
		</div>
		<div class='row section'>
			<div id='gamesOverviewIcon' class='col-xs-1 col-xs-offset-2 fadeInBottom'>
				<img src="../resources/game-icon.png" class="img-responsive" style="max-width:190%">
			</div>
			<div id='gamesOverview' class='col-xs-6 col-xs-offset-1 text fadeInRight'>
				<span class='text-header'>GAMES&nbsp;&nbsp;</span><span>My foundation lies in extensive use of C/C++ which I used to develop several game engines from scratch. I utilized heavy math, complex algorithms and optimization while architecting game engines, graphics pipelines, AI, and more. On my game teams I took further initiative by accepting product manager responsibilities and attending additional classes, ultimately succeeding in delivering each milestone with tremendous success. I successfully completed 5 games during my 3.5 years of matriculation alongside tutoring, and an overbooked course load.
			</div>
		</div>
		<div class='row section'>
			<div id='webOverviewIcon' class='col-xs-1 col-xs-offset-2 fadeInBottom'>
				<img src="../resources/web-icon.png" class="img-responsive" style="max-width:190%">
			</div>
			<div id='webOverview' class='col-xs-6 col-xs-offset-1 text fadeInRight'>
				<span class='text-header'>WEB&nbsp;&nbsp;</span><span>I pursued web development out of passion during the early part of my career. In my first month of learning I worked tirelessly on solo end-end web applications while receiving professional feedback at work. After one month, I built this resume site, and one month after that I began contributing to front end development on a professional level at work. I have spent countless hours outside of work continuing to learn and explore web development, and haven't stopped working on both front-end and full-stack projects since I started.</span>
			</div>
		</div>
		<div class='row section'>
			<div id='testOverviewIcon' class='col-xs-1 col-xs-offset-2 fadeInBottom'>
				<img src="../resources/tools-icon.png" class="img-responsive" style="max-width:190%">
			</div>
			<div id='testOverview' class='col-xs-6 col-xs-offset-1 text fadeInRight'>
				<span class='text-header'>TOOLS&nbsp;&nbsp;</span><span>I'm currently working with several HoloLens experience incubation teams to architect and develop an automation framework and toolset from the ground up that scales across multiple products and vastly varying devices. While creating tools and working on bleeding edge technology, I've not only grown as a developer, but have experience based intuition for viewing the product as a whole: helping improve product quality by identifying areas to reduce technical debt, helping design, build and integrate tools across several teams with maximum re-use in mind, working with designers to predict product technical needs, and much more.</span></span>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='portfolio-screen' ng-controller='PortfolioController'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>PROJECTS</h1>
				<div class='underline'></div>
				<h2></h2>
			</header>
		</div>
		<div class='row text-center'>
			<div class='portfolio-items-container section'>
				<!-- Luminosity -->
				<div class="portfolio-item-container">
					<h3>Luminosity</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(0)' ng-mouseleave='hideMenu(0)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 0" href="http://games.digipen.edu/downloads/Luminosity_setup?id=1170&download=25896#.VXZbdEal_9I" target="_blank">PLAY</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 0" href="https://www.youtube.com/watch?v=YJjCsKeWLiw" target="_blank">WATCH</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 0" href="https://aeprogramming.wordpress.com/games/" target="_blank">MORE</a>
						</div>
						<img class='img-responsive' src='../resources/portfolio/hi/Luminosity_2_hires.jpg'></img>
					</div>
					<p>Engine and game built entirely from scratch in C++. Featured at PAX.</p>
				</div>
				<!-- Hololens -->
				<div class="portfolio-item-container">
					<h3>Microsoft Hololens</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(1)' ng-mouseleave='hideMenu(1)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 1" href="http://www.microsoft.com/microsoft-hololens/en-us" target="_blank">VIEW</a>
						</div>
						<img class='img-responsive' src='../resources/portfolio/hi/onsightImage.jpg'></img>
					</div>
					<p>Building an automation framework in C# to work across several products.</p>
				</div>
				<!-- Resume Site -->
				<div class="portfolio-item-container">
					<h3>This Site</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(2)' ng-mouseleave='hideMenu(2)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 2" href="https://docs.google.com/presentation/d/1eO1ezPNU0NCALk4fwgI-giFDU3kHjcM21UuJ1Minh7s/edit?usp=sharing" target="_blank">DESIGN</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 2" href="https://github.com/aconfee/AdamEstelaResume" target="_blank">GIT</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/resume_hi.png"></img>
					</div>
					<p style="height:40px;">Spent one month learning web development outside of work to build this site.</p>
				</div>
				<!-- Graphics Projects -->
				<div class="portfolio-item-container">
					<h3>Graphics</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(3)' ng-mouseleave='hideMenu(3)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 3" href="https://www.youtube.com/user/MrAconfee/videos" target="_blank">WATCH</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 3" href="https://aeprogramming.wordpress.com/graphics/" target="_blank">MORE</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/graphics.png"></img>
					</div>
					<p style="height:40px;">Built 3D pipeline, math library, shaders, and shadows from scratch in C++.</p>
				</div>
				<!-- Survaillent -->
				<div class="portfolio-item-container">
					<h3>Surveillant</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(4)' ng-mouseleave='hideMenu(4)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 4" href="http://gamejolt.com/games/surveillant/107686" target="_blank">PLAY</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 4" href="https://www.youtube.com/watch?v=4pAcfkc9fhU&feature=youtu.be" target="_blank">WATCH</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 4" href="https://aeprogramming.wordpress.com/games/" target="_blank">MORE</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/survaillent_3.png"></img>
					</div>
					<p style="height:40px;">Horror game built in 48 hours with Unity.</p>
				</div>
				<!-- Kim Gallery -->
				<div class="portfolio-item-container">
					<h3>Art Portfolio</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(5)' ng-mouseleave='hideMenu(5)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 5" href="http://kimgreenoughportfolio.azurewebsites.net/" target="_blank">LIVE</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 5" href="https://github.com/aconfee/KimPortfolio" target="_blank">GIT</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/kimsite.png"></img>
					</div>
					<p style="height:40px;">Interactive single-page portfolio built with AngularJS.</p>
				</div>
				<!-- Sweet Home -->
				<div class="portfolio-item-container">
					<h3>Sweet Home</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(6)' ng-mouseleave='hideMenu(6)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 6" href="http://gamejolt.com/games/sweet-home/107328" target="_blank">PLAY</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 6" href="https://www.youtube.com/watch?v=h2tObm8D7N0" target="_blank">WATCH</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/sweethome.png"></img>
					</div>
					<p style="height:40px;">Horror game built in 48 hours with Unreal. Learned Unreal on the fly.</p>
				</div>
				<!-- Wub Wub Racer Magic -->
				<div class="portfolio-item-container">
					<h3>Wub Wub Racer Magic</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(7)' ng-mouseleave='hideMenu(7)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 7" href="http://games.digipen.edu/downloads/WubWubRacerMagic_setup?id=1170&download=26685#.VXZhC0al_9J" target="_blank">PLAY</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 7" href="https://www.youtube.com/watch?v=8g9GvAu6Os4" target="_blank">WATCH</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 7" href="https://aeprogramming.wordpress.com/games/" target="_blank">MORE</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/WubWubRacerMagic.png"></img>
					</div>
					<p style="height:40px;">Survival hell. Engine and game built entirely from scratch in C++.</p>
				</div>
				<!-- AI Class Project -->
				<div class="portfolio-item-container">
					<h3>Artificial Intelligence</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(8)' ng-mouseleave='hideMenu(8)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 8" href="https://www.youtube.com/watch?v=d_7Cx3_slsg&list=UUlfeZAnjyOWyE3ysVMvWlhQ" target="_blank">WATCH</a>
							<a class="portfolio-item-menu-button" ng-show="hovered == 8" href="https://aeprogramming.wordpress.com/artificial-intelligence/" target="_blank">MORE</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/ai1.png"></img>
					</div>
					<p style="height:40px;">A* with obstructing object detection, and several influencing heat maps.</p>
				</div>
				<!-- PaperG -->
				<div class="portfolio-item-container">
					<h3>PaperG, Inc. Add Platform</h3>
					<div class='portfolio-item games' ng-mouseenter='showMenu(9)' ng-mouseleave='hideMenu(9)'>
						<div class="portfolio-item-menu">
							<a class="portfolio-item-menu-button" ng-show="hovered == 9" href="http://www.paperg.com/" target="_blank">VIEW</a>
						</div>
						<img class='img-responsive' src="../resources/portfolio/hi/paperGimage.png"></img>
					</div>
					<p style="height:40px;">Built automation framework, wrote front-end code, and optimized the build pipeline.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- SKILLS -->
	<div class='container-fluid screen' id='skills-screen' ng-controller='SkillsController'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>SKILLS</h1>
				<div class='underline'></div>
				<h2>Languages and Tools</h2>
			</header>
		</div>
		<div class='row section'>
			<div class='col-xs-3 col-xs-offset-2'>
				<p class='text-header'>LANGUAGES</p>

				<!-- Skill button/progress -->
				<div class="skill-button-container" ng-repeat="language in languages">
					<div class="left-bracket" ng-show="$index == selectedLanguage"><img src="../resources/bracketLeftSmall.png"></img></div>
					<div class='skill-button' ng-click="displayLanguageDescription(language.name); selectLanguage($index);">
						<div class="skill-progress language" ng-class="{'skill-progress-active': $index == selectedLanguage}" style="width:{{language.val}}%">
							<p>{{ language.name }}</p>
						</div>
					</div>
					<div class="right-bracket" ng-show="$index == selectedLanguage"><img src="../resources/bracketRightSmall.png"></img></div>
				</div>
			</div>

			<!-- Skill description -->
			<div class="col-xs-1">
				<div class="left-bracket-big bracket-big"><img src="../resources/bracketLeftLarge.png"></img></div>
			</div>
			<div class='col-xs-4' id='languageDescription'>
				<div class="skill-description-container">
					<p class='text-header' style="text-align:center">{{ languageDisplay.name }}</p>
					<p class='text'>
						<span class='skill-attribute'>Years:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ languageDisplay.yearsUsed }}
						<br/>
						<span class='skill-attribute'>Projects:</span> &nbsp;&nbsp;{{ languageDisplay.projects }}
						<br/>
						<p class='left-align attribute-description'>{{ languageDisplay.description }}</p>
					</p>
					<div class="item-select-widget" style="text-align:center">
						<div class="item-select" ng-class="{'active': $index == selectedLanguage}" ng-repeat="language in languages" ng-click="displayLanguageDescription(language.name); selectLanguage($index)"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1">
				<div class="right-bracket-big bracket-big"><img src="../resources/bracketRightLarge.png"></img></div>
			</div>
		</div>

		<!-- TOOLS -->
		<div class='row section'>
			<div class='col-xs-3 col-xs-offset-2'>
				<p class='text-header'>TOOLS</p>

				<!-- Tool button/progress -->
				<div class="skill-button-container" ng-repeat="tool in tools">
					<div class="left-bracket" ng-show="$index == selectedTool"><img src="../resources/bracketLeftSmall.png"></img></div>
					<div class='skill-button' ng-click="displayToolDescription(tool.name); selectTool($index);">
						<div class="skill-progress tool" ng-class="{'skill-progress-active': $index == selectedTool}" style="width:{{tool.val}}%">
							<p>{{ tool.name }}</p>
						</div>
					</div>
					<div class="right-bracket" ng-show="$index == selectedTool"><img src="../resources/bracketRightSmall.png"></img></div>
				</div>
			</div>

			<!-- Tool description -->
			<div class="col-xs-1">
				<div class="left-bracket-big bracket-big"><img src="../resources/bracketLeftLarge.png"></img></div>
			</div>
			<div class='col-xs-4' id='toolDescription'>
				<div class="skill-description-container">
					<p class='text-header' style="text-align:center">{{ toolDisplay.name }}</p>
					<p class='text'>
						<span class='skill-attribute'>Years:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ toolDisplay.yearsUsed }}
						<br/>
						<span class='skill-attribute'>Projects:</span>&nbsp;&nbsp;{{ toolDisplay.projects }}
						<br/>
						<p class='left-align attribute-description'>{{ toolDisplay.description }}</p>
					</p>
					<div class="item-select-widget" style="text-align:center">
						<div class="item-select" ng-class="{'active': $index == selectedTool}" ng-repeat="tool in tools" ng-click="displayToolDescription(tool.name); selectTool($index)"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-1">
				<div class="right-bracket-big bracket-big"><img src="../resources/bracketRightLarge.png"></img></div>
			</div>
		</div>
		<div class='row section'>
			<div class='col-xs-10 col-xs-offset-2'>
				<p class='text-header'>ADDITIONAL EXPOSURE</p>
			</div>
			<div class='col-xs-8 col-xs-offset-2'>
				<span class="well well-sm" ng-repeat='otherSkill in skillBucket'>{{ otherSkill.name }}</span>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='experience-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>EXPERIENCE</h1>
				<div class='underline'></div>
			</header>
		</div>
		<div class='section'>
			<div id='microsoft' class='col-xs-5 col-xs-offset-1 text'>
				<span>
					<a class='text-header' href='http://www.microsoft.com/microsoft-hololens/en-us' target='_blank'>Microsoft</a>
				</span><span>Redmond, WA</span>
				<p>Software Engineer in Test II / Jan 2015 - Current</p>
				<img class="img-responsive" style="border-radius:2px;" src="../resources/onsightImage.jpg"></img>
				<br/>
				<p>
					I currently work on several HoloLens experience incubation teams to architect and develop an automation framework and toolset, from the ground up that scales across multiple products and devices.
					<ul>
						<li><p>Promoted in 5 months based on merit.</p></li>
						<li><p>Programming primarily in C# to develop automation tools that facilitate complex environments with several different simultaneously running products and vastly varying device types.</p></li>
						<li><p>Working side-by-side with developers on several projects to develop test automation tools that can be used across several incubation products.</p></li>
						<li><p>Writing and improving org-wide tools.</p></li>
						<li><p>Debugging and solving complex problems across multiple teams.</p></li>
					</ul>
					<br/><br/>
					<!-- QUOTE TBD
					<div style='width:90%; font-size:0.9em;margin-left:5%;border-top:1px solid grey;'>
						<br/>
						<span><i>"Adam Estela is both knowledgeable and eager to learn new things, a rare combination for a programmer. I enjoyed working with him and would highly recommend Adam to anyone who asks."</i></span>
						<br/>
						<p style='float:right'>-Trevor Haba / SDE PaperG</p>
					</div>
					-->
				</p>
			</div>
			<div id='paperg' class='col-xs-5 text' style="margin-left:25px">
				<span>
					<a class='text-header' href='http://www.paperg.com/' target='_blank'>PaperG</a>
				</span><span>Kirkland, WA</span>
				<p>Software Engineer in Test II / Feb 2014 - Jan 2015</p>
				<img class="img-responsive" style="border-radius:2px;" src="../resources/paperGimage.png"></img>
				<br/>
				<p>
					I was one of two SDETs who developed the test automation framework, build infrastructure and tools.
					<ul>
						<li><p>Promoted in 4 months based on merit.</p></li>
						<li><p>Developed tools, features, and infrastructure that improved test performance.</p></li>
						<li><p>Contributed to front-end feature development.</p></li>
						<li><p>Developed tools for test automation authors to ensure reliable UI tests. (~80% less false negatives)</p></li>
						<li><p>Implemented multi-browser automated UI tests and monitoring. </p></li>
						<li><p>Helped lead, organize, and unify team test team efforts to be more effective.</p></li>
						<li><p>Offered and received technical help on a daily basis to encourage a culture of growth.</p></li>
					</ul>
					I quickly grasped Javascript, Java, HTML, and CSS as well as several tools which I developed with.
					<br/><br/>
					<div style='width:90%; font-size:0.9em;margin-left:5%;border-top:1px solid grey;'>
						<br/>
						<span><i>"Adam Estela is both knowledgeable and eager to learn new things, a rare combination for a programmer. I enjoyed working with him and would highly recommend Adam to anyone who asks."</i></span>
						<br/>
						<p style='float:right'>-Trevor Haba / SDE PaperG, Inc.</p>
					</div>
				</p>
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='education-screen'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1>EDUCATION</h1>
				<div class='underline'></div>
			</header>
		</div>
		<div class='row section'>
			<div id='education' class='col-xs-2 col-xs-offset-2 fadeInBottom'>
				<a href='https://www.digipen.edu/' target='_blank'><img src="../resources/digi-logo.png" class="img-responsive"></a>
			</div>
			<div id='educationText' class='col-xs-6 text fadeInRight'>
				<span class='text-header'>
					DIGIPEN INSTITUTE OF TECHNOLOGY
				</span><span>Redmond, WA</span>
				<p>B.S. in Computer Science &amp; Minor in Mathematics </p>
				<p><b style="color:rgb(154, 0, 0)">Graduated:</b> December 13th, 2013</p>
				<br/>
				<p><b style="color:rgb(154, 0, 0)">Tutored:</b> 3D Graphics Implementation, Game Engine Implementation Techniques, English, CS Fundamentals, and Math.</p>
				<p><b style="color:rgb(154, 0, 0)">Interned:</b> I was chosen among several students to intern in DigiPen's R&D department for my final semester.</p>
				<p>"Adam has been great to work with. I have worked with him on multiple game projects, side projects in our spare time, and tutored with him. He is unbelievably hard working and motivated in everything he does." -David James / SDE Microsoft
			</div>
		</div>
	</div>
	<div class='container-fluid screen' id='contact-screen' ng-controller='ContactController'>
		<div class='row'>
			<header class='col-xs-12 text-center section-title'>
				<h1 class='inverse'>CONTACT</h1>
				<div class='underline underline-inverse'></div>
				<h2 class='inverse'>Want to know more?</h2>
			</header>
		</div>
		<div class='row'>
			<div class='col-xs-3 col-xs-offset-2 section'>
				<h2 style='color:white'><b>Contact Info</b></h2>
				<p class='text' style='color:white'>(509) 494-4676</p>
				<p class='text' style='color:white'>adamestela@gmail.com</p>
				<div id='message-sent' ng-show='messageSent'>
					<h1 style='color:white;margin-top:100px;'>Message sent!</h1>
					<h2 style='color:white;'>Thank you for visiting! I will respond as soon as possible.</h2>
				</div>
				<div id='message-sent' ng-show='messageError'>
					<h1 style='color:white;margin-top:100px;'>Error</h1>
					<h2 style='color:white;'>Please include your name, valid email, and a message.</h2>
				</div>
			</div>
			<div class='col-xs-4 col-xs-offset-1 section'>
				<form class="form-horizontal" role="form" method='post'>
				<div class="form-group">
				    <label for="contactName" class="col-xs-1 control-label">Name</label>
				    <div class="col-xs-12">
				      <input name='name' type="text" class="form-control" id="contactName" placeholder="Your Name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="contactEmail" class="col-xs-1 control-label">Email</label>
				    <div class="col-xs-12">
				      <input name='email' type="email" class="form-control" id="contactEmail" placeholder="Email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-xs-1 control-label">Message</label>
				    <div class="col-xs-12">
				    	<textarea name='message' class="form-control" rows="8"></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-xs-12">
				      <input id='send-email-button' ng-click='sendEmail();' value="SEND!" name='submit' type="submit" class="btn-lg"></input>
				    </div>
				  </div>
				</form>
			</div>
		</div>
		<div class='col-xs-8 col-xs-offset-2 section text-center'>
			<p style='color:white;letter-spacing:0.2em;' class='text'>All content &copy; 2014-2016 Adam Confe Estela, all rights reserved.</p>
		</div>
	</div>

	<!-- AngularJS to avoid duplicate HTML templates. All data is local. -->
	<script src="../bower_components/angular/angular.min.js"></script>

	<!-- Isotope (filtering) -->
	<script src="../tools/isotope/isotope.min.js"></script>

	<!-- My js controllers -->
	<script src='../controllers/skills.js'></script>
	<script src='../controllers/portfolio.js'></script>
	<script src='../controllers/nav.js'></script>
	<script src='../controllers/contact.js'></script>
	<script src='../controllers/fades.js'></script>
</body>

<html>
