/* CONTACT FORM*/ 
.control-label{
	color:white;
	display:block;
}

.form-control{
	height:50px;
	border-radius: 0;
}

#send-email-button{
	border: 2px solid white;
	border-radius: 0;
	color:white;
	font-weight: bold;
	float:right;
	background-color: #3498DB;
	width:100%;
	margin-top:20px; 
	letter-spacing: .3em;

	-webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

#send-email-button:hover{
	background-color: white;
	color: #3498DB;
}

#contact-screen{
	background-color: #3498DB;
}