/* COVER */ 
@font-face{ 
	font-family: 'bebas';
	src: url('../fonts/bebas/bebas_regular_macroman/BEBAS___-webfont.eot');
	src: url('../fonts/bebas/bebas_regular_macroman/BEBAS___-webfont.eot?iefix') format('eot'),
	     url('../fonts/bebas/bebas_regular_macroman/BEBAS___-webfont.woff') format('woff'),
	     url('../fonts/bebas/bebas_regular_macroman/BEBAS___-webfont.ttf') format('truetype'),
	     url('../fonts/bebas/bebas_regular_macroman/BEBAS___-webfont.svg#webfont') format('svg');
}

#cover-screen{
	margin-bottom:10%;
}

#cover-screen-title{
	margin-top: 20em;
}

.cover-text{
	font-family: bebas;
	font-size:4em;
	letter-spacing: .2em;
}

.subheader-text{
	font-size:01.1em;
	letter-spacing: .3em;
}

.social-icons{
	width:100%;

	margin-right: auto;
	margin-left: auto;
	margin-top:30px;
	margin-bottom: 60px;

	text-align: center;
}

.icon{
	width:3.4em;
	height:3.4em;

	border-radius: 30%;
	border-width: 1px;
	border-color: white;
	border-style: solid;

	display:inline-block;

	margin:0 15px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 50%;

	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.icon:hover{
	background-color:white;
}

.icon:visited{
	text-decoration: none;
}

.icon:active{
	text-decoration: none;
}

#git-icon{
	background-image: url('http://i.imgur.com/2myXYps.png?1');
}

#git-icon:hover{
	background-image: url('http://i.imgur.com/HrOTSa0.png');
}

#linkedin-icon{
	background-image: url('http://i.imgur.com/DaNrNYd.png');
}

#linkedin-icon:hover{
	background-image: url('http://i.imgur.com/EtSyXB5.png');
}

#youtube-icon{
	background-image: url('http://i.imgur.com/s544tLm.png');
}

#youtube-icon:hover{
	background-image: url('http://i.imgur.com/ldZmQgc.png?1');
}

#facebook-icon{
	background-image: url('http://i.imgur.com/4rfOZQf.png');
}

#facebook-icon:hover{
	background-image: url('http://i.imgur.com/1cVSDip.png');
}

.carousel-inner{
	text-align: center;
	height:20em;
}

.quote{
	word-wrap:break-word;
	max-width: 30%;
	font-style: italic;
	color:white;
	opacity:0.9;
	display:inline-block;
	margin-bottom: 10em;
}

#download-resume-button{
	background-color:rgb(142, 16, 42);
	border: 1px solid white;
	color:white;
	text-align:center;
	width:200px;
	height:50px;
	border-radius:2px;
	margin:auto;
	display:inline-block;
	font-size:1.2em;
	padding-top:12px;
	letter-spacing:1px;
	
	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

#download-resume-button:hover{
	background-color:white;
	color:rgb(142, 16, 42);
}