body{
	font-family: 'Oxygen', sans-serif;

	background-image: url('http://www.zastavki.com/pictures/originals/2013/Nature__039528_.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* NAVBAR */
.navbar-default{
	background-color:white;
	opacity: .85;

	font-weight: bold;

	text-align: center;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
}

.navbar .nav > li > a {
	color:#555555;
	opacity: 1;
}

.navbar .nav > li > a:hover {
	color:#409edd;
}

.font-white{
	color:white;
}

.font-dark{
	color:#555555;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

/* COVER */ 
#cover-screen{
	margin-bottom:10%;
}

#cover-screen-title{
	margin-top: 20em;
}

.cover-text{
	font-weight: bold;
	font-size:4em;
	letter-spacing: .2em;
}

h1{
	font-weight:bold;
	font-size: 3em;
	letter-spacing: .2em;
	color:#555555;
}

h2{
	font-size:1.5em;
	letter-spacing: .1em;
	color:#555555;
}

.social-icons{
	width:100%;

	margin-right: auto;
	margin-left: auto;
	margin-top:30px;
	margin-bottom: 60px;

	text-align: center;
}

.icon{
	width:3.4em;
	height:3.4em;

	border-radius: 50%;
	border-width: 1px;
	border-color: white;
	border-style: solid;

	display:inline-block;

	margin:0 15px;
	background-repeat: no-repeat;
	background-position:center;
	background-size: 50%;

	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.icon:hover{
	background-color:white;
}

#git-icon{
	background-image: url('http://i.imgur.com/2myXYps.png?1');
}

#git-icon:hover{
	background-image: url('http://i.imgur.com/HrOTSa0.png');
}

#linkedin-icon{
	background-image: url('http://i.imgur.com/DaNrNYd.png');
}

#linkedin-icon:hover{
	background-image: url('http://i.imgur.com/EtSyXB5.png');
}

#youtube-icon{
	background-image: url('http://i.imgur.com/s544tLm.png');
}

#youtube-icon:hover{
	background-image: url('http://i.imgur.com/ldZmQgc.png?1');
}

#facebook-icon{
	background-image: url('http://i.imgur.com/4rfOZQf.png');
}

#facebook-icon:hover{
	background-image: url('http://i.imgur.com/1cVSDip.png');
}

.carousel-inner{
	text-align: center;
	height:20em;
}

.quote{
	word-wrap:break-word;
	max-width: 30%;
	font-style: italic;
	color:white;
	opacity:0.9;
	display:inline-block;
	margin-bottom: 10em;
}

/* PAGE */
.text-header{
	font-size: 1.4em;
	font-weight: bold;
	color:#757575;
}

.text{
	font-size: 1.2em;
	word-wrap:break-word;
	color:#757575;
}

.screen{
	padding-top:100px;
	padding-bottom:50px;
	background-color: white;
}

.underline{
	border-top: 2px solid #409edd;
	max-width: 100px;
	width:100px;
	display: inline-block;
}

.underline-inverse{
	border-color: white;
}

.section{
	margin-top: 50px;
}

#contact-screen{
	background-color: #3498DB;
}

.inverse{
	color:white;
}

/* SKILLS */
.progress-bar{
	text-align: left;
}

.progress-bar p{
	margin-left: 20px;
	margin-top: 4px;
}

.progress{
	height:30px;
	box-shadow: 3px 3px 5px #888888;

	-webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.progress:hover{
	cursor: pointer;
	box-shadow: 10px 10px 10px #888888;

	transform: scale(1.1);	
}

.progress-selected{
    box-shadow: inset 3px 3px 5px #275427;
}

.progress-selected:hover{
	box-shadow: inset 3px 3px 5px #275427;
	transform: scale(1);
}

.well-sm{
	margin:15px 3px;
	display: inline-block;
}

.skill-attribute{
	float:left;
}

.right-align{
	text-align: right;
}

.left-align{
	text-align: left;
}

.attribute-description{
	max-width: 100%;
	word-break:break-word;
}

/* PORTFOLIO */
.portfolio-item{
	width:243px;
	height:150px;
	margin: 20px 15px;
	display:inline-block;
	float:left;

	background-color:#3498db;

	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    overflow: hidden;
}

.portfolio-item:hover{
	transform: scale(1.1);
}

.portfolio-items{
	width:90%;

	display: inline-block;

	max-width:1092px;
}

.portfolio-tab{
	height:auto;
	max-height: 50px;
	overflow: hidden;
	display: inline-block;
	color:white;
	font-weight: bold;

	float:left;

	margin: 7px 5px;
	padding:0px 10px;
}

.portfolio-tab-right{
	float:right;
}

.portfolio-tab:hover{
	background-color: #2978ad;
	text-decoration: none;
	color:white;
}

.portfolio-tab:visited{
	text-decoration: none;
	color:white;
}

/* CONTACT FORM*/ 
.control-label{
	color:white;
	display:block;
}

.form-control{
	height:50px;
	border-radius: 0;
}

#send-email-button{
	border: 2px solid white;
	border-radius: 0;
	color:white;
	font-weight: bold;
	float:right;
	background-color: #3498DB;
	width:100%;
	margin-top:20px; 
	letter-spacing: .3em;

	-webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

#send-email-button:hover{
	background-color: white;
	color: #3498DB;
}