@font-face {
    font-family: bebasneue;
    src: url(../fonts/bebasneue/BebasNeue.otf) format("otf");
}

@font-face {
    font-family: montserrat;
    src: 	url(../fonts/montserrat/Montserrat-Light.ttf);
}

@font-face{ 
	font-family: 'MyWebFont';
	src: url('../fonts/Action_Man_Shaded-webfont.woff') format('woff');
}

body{
	font-family: 'Oxygen', sans-serif;

	background-image: url('../resources/origBackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.font-white{
	color:white;
}

.font-dark{
	color:rgb(35, 35, 35);
}

.center{
	margin-left:auto;
	margin-right:auto;
}

h1{
	font-family: MyWebFont;
	font-size: 22pt;
	letter-spacing: 130;
	/*font-weight:bold;
	font-size: 3em;
	letter-spacing: .2em;*/
	color:rgb(35, 35, 35); 
}

h2{
	font-size:1.5em;
	letter-spacing: .1em;
	color:rgb(159, 159, 159);
}

/* PAGE */
.text-header{
	font-size: 1.4em;
	font-weight: bold;
	color:rgb(66, 66, 66);
}

.text{
	font-size: 1.2em;
	word-wrap:break-word;
	color:rgb(35, 35, 35);
}

.screen{
	padding-top:100px;
	padding-bottom:50px;
	background-color: white;
}

.underline{
	border-top: 2px solid rgb(69, 183, 122);
	max-width: 100px;
	width:100px;
	display: inline-block;
}

.underline-inverse{
	border-color: white;
}

.section{
	margin-top: 50px;
}


.inverse{
	color:white;
}


