/* PORTFOLIO */

.portfolio-items-container{
	width:100%;
	height:auto;
	
	text-align:center;
	
	margin:10px auto;
	padding:10px;	
}

.portfolio-item-container{
	/* Don't allow text to exceed the picture width*/
	max-width:442px;
	height:360px;
	
	text-align:left;	
	display:inline-block;
	overflow:hidden;
	
	margin:0px 20px;
}

.portfolio-item{
	width:442px;
	height:253px;
	
	border-radius: 2px;
    overflow: hidden;
	
	border: 1px solid silver;
	
	padding:3px;
	
	display:inline-block;
}

.portfolio-item-menu{
	width:0px;
	height:245px;
	background-color: rgba(255, 255, 255, 0.7);
	position:absolute;
	
	margin-left:434px;
}

.portfolio-item-menu-button{
	display:inline-block;
	width:100%;
	
	color:rgb(35, 35, 35);
	
	font-weight: bold;
	font-size: 1.5em;
	
	margin: 10px 10px 0px 10px;
}

.portfolio-item-menu-button:hover{
	color:rgb(69, 183, 122);
	cursor:pointer;
}

.btn-default{
	margin:0 2px;
	border-radius: 3px;
	font-size: 1.2em;

	-webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn-default:hover{
	background-color:#3498DB; 
	color: white;
}

.btn.active{
	background-color:#3498DB; 
	color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}